button{
    display: block;
    border: 5px solid rgb(255, 255, 255);
    height: 10%;
    width: 40%;
    position: absolute;
    background-color: rgba(255,255, 255, 0);
    border-radius: 50px;
    color: white;
    top: 60%;
    font-size: 24px;
    text-align: center;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #808080;
  border: 100px none #000000;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #808080;
}
::-webkit-scrollbar-thumb:active {
  background: #808080;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 100px none #000000;
  border-radius: 100px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
body{
    height: 100%;
    width: 100%;
    position: static;
    left: 0%;
    top: 0%;
    background: url('background.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: left top;
    color: white;
    overflow-x: hidden;
}
.link1{
    position: absolute;
    top: 25%;
    left: 30%;
}
.link2{
    position: absolute;
    left: 30%;
    top: 45%;
}
.link3{
    position: absolute;
    left: 30%;
    top: 65%;
}
.link4{
    position: absolute;
    left: 30%;
    top: 85%;
}
button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
